<div class="row" style="margin-left: -187px;">
    <div class="col-xs-2 col-md-2">
        <a class="info-tile tile-sky" href="#" style="height: 74px;">
            <div class="tile-heading">
                <div class="pull-left">Patients<i class="fa fa-user" aria-hidden="true" style="margin-left: 5px;"></i></div>
                <div class="pull-right">{{totalPatientCount}}</div> 
            </div>    
        </a>
    </div>
    <div class="col-xs-2 col-md-2">
        <a class="info-tile tile-orange" href="#">
            <div class="tile-heading">
                <div class="pull-left">Records <i class="fa fa-calendar-check-o" style="margin-left: 5px;"></i></div>
                <div class="pull-right">{{totalMedicalRecordsCount}}</div>
            </div>
        </a>
    </div>
    <div class="col-xs-2 col-md-2">
        <a class="info-tile tile-brown" href="#">
            <div class="tile-heading">
                <div class="pull-left">Doctors <i class="fa fa-stethoscope" style="margin-left: 5px;"></i></div>
                <div class="pull-right">45</div>
            </div>
        </a>
    </div>
    <div class="col-xs-2 col-md-2">
        <a class="info-tile tile-success" href="#">
            <div class="tile-heading">
                <div class="pull-left">Revenue<i class="fa fa-dollar" style="margin-left: 5px;"></i></div>
                <div class="pull-right">$5.4K</div>
            </div>
        </a>
    </div>
    <div class="col-xs-2 col-md-2">
        <a class="info-tile tile-danger" href="#">
            <div class="tile-heading">
                <div class="pull-left">Pending Cases<i class="fa fa-exclamation-triangle" style="margin-left: 5px;"></i> </div>
                <div class="pull-right">29</div>
            </div>
        </a>
    </div>
</div>
